
<div>
    <h1>Welcome {{username}}!</h1>
</div>
<section>
    <div class="card" style="width: 18rem;">
    <h2>Client Services</h2>    
    <div class="card-body">
        <h5 class="card-title">Tax Data Form</h5>
        <h6 class="card-subtitle mb-2 text-muted">Please fill out every year</h6>
        <p class="card-text">Fill out this form about contact, income and occupational information. This will allow tax preparer to process return faster.</p>
        
        <a class="btn btn-primary" href="/tax-form" role="button">Start Form</a>
    </div>
</section>
</div>
<div>
    {{#each taxFormArray}}
    <div class="card" style="width: 18rem;">
    <h2>Completed Tax Form</h2>    
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">{{taxYear}}</h6>
        <p class="card-text">Theis your completed Client Tax Data Form for {{taxYear}}</p>
        
        <a class="btn btn-primary" href="/tax-form/{{_id}}" role="button">View Form</a>
    </div>
    {{/each}}
</div>
